.DS_Store
*.log
*.tar.gz
*.retry
*.swp
!.keep
!deploy-*.cfg
!files/config/build-*.cfg
!files/config/conf-*.cfg
!files/config/build-example.cfg
!files/config/conf-example.cfg
!ansible-dist.cfg
!deploy-example.cfg
files/config/build-all.cfg
files/config/build-default.cfg
config.sh
z.sh
z.pl
x.sh
t.sh
s.sh
keystore.jks
files/tmp/
group_vars/all
group_vars/dbservers
migration/16x-23x/cleanacl.txt
log/*
files/config/default/wfexec/*
!files/config/default/wfexec/.keep
callback_plugins/human_log.pyc
files/shell_variable.sh
.idea/modules.xml
.idea/oc-scripts.iml
.idea/vcs.xml
.idea/workspace.xml
hosts/tmp
callback_plugins/__pycache__/
