---
# The variables file used by the playbooks in the dbservers group.
# These don't have to be explicitly imported by vars_files: they are autopopulated.

# db_user: * ansible.cfg *
# db_pass: * ansible.cfg *
db_config: tmpl_db_config

# oc_username: * ansible.cfg *
# oc_password: * ansible.cfg *

sql_source: tmpl_sql_source
sql_dest: tmpl_sql_dest

source_db: tmpl_database_name
target_db: tmpl_database_name
